@import './variables';

*, p{
  margin: 0;
  padding: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: $raleway;
}

body {
  font-size: 16px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

