@import '../../assets/scss/';

.layout {
  background-color: #000000;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: start;
  padding-top: 0;
  margin-top: 50px;
  position: fixed;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .left {
    position: fixed;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    overflow-y: scroll;
    left: 0;
    padding-top: 20px;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .right {
    width: 30%;
    right: 0;
    position: fixed;
    z-index: 0;
    padding-left: 20px;
    padding-top: 20px;
  }

  .postscard_container {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
    position: fixed;
    padding-bottom: 200px;
    left: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .subreddits-container {
    height: 600px;
    overflow-y: scroll;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-radius: 4px;
    border: 0.5px solid #555;

    &::-webkit-scrollbar {
      display: none;
    }

    .title {
      height: 75px;
      width: 298px;
      border-bottom: 1px solid #555;
      display: flex;
      align-items: flex-end;
      padding: 10px;
      color: #fff;
      font-weight: 500;
      position: fixed;
      background-color: #333333;
      z-index: 2;
    }

    .lists {
      margin-top: 75px;
      padding-bottom: 20px;
      position: relative;
      z-index: 0;

      .subreddit-button {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #555;
        cursor: pointer;
        text-align: left;
        color: white;
      }
    }
  }
}

.show-sm {
  display: none !important;
}

.hide-lg {
  display: block !important;
}

@media screen and (max-width: 768px) {
  .show-sm {
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }

  .layout {
    flex-direction: column;
    margin-top: 0;

    .left {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      left: 0;
    }

    .right {
      width: 100%;
      right: 0;
      position: fixed;
      z-index: 0;
      padding-left: 10px;
      padding-top: 10px;
      height: -webkit-fill-available;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: flex-end;
    }

    .postscard_container {
      height: inherit;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      padding-right: 10px;
      padding-left: 10px;
    }

    .subreddits-container {
      height: 600px;
      overflow-y: scroll;
      width: 60%;
      display: flex;
      flex-direction: column;
      background-color: #333333;
      border-radius: 4px;
      border: 0.5px solid #555;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .title {
        height: 75px;
        width: 60%;
        border-bottom: 1px solid #555;
        display: flex;
        align-items: flex-end;
        padding: 10px;
        color: #fff;
        font-weight: 500;
        position: fixed;
        background-color: #333333;
        z-index: 2;
      }

      .lists {
        margin-top: 75px;
        padding-bottom: 20px;
        position: relative;
        z-index: 0;

        .subreddit-button {
          width: 100%;
          height: 40px;
          background-color: transparent;
          border: none;
          padding-left: 10px;
          padding-right: 10px;
          border-bottom: 1px solid #555;
          cursor: pointer;
          text-align: left;
        }
      }
    }
  }

  .right-drawer {
    display: block;
  }
}
